.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.socialIcon {
  width: 18px;
  height: 18px;
  margin: 0 8px;
  cursor: pointer;
}
