.container {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.textWrapper {
  border-bottom: 1px solid #71767d;
}

.title {
  color: #71767d;
  font-size: 1.2rem;
  font-weight: 600;
}
