.container {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.toolBar {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  /* iPad */
  .content {
    width: 70%;
  }

  .toolBar {
    display: flex;
    justify-content: flex-end;
    width: 80%;
  }
}
