@use 'sass:math';

$pieceMaxAmount: 12;

.container {
  z-index: -1;
  overflow: hidden;
}

.piece {
  position: absolute;
  z-index: -1;
}

@mixin randomPositionSize($width) {
  top: (math.random(70) + 10) * 1%;
  left: math.random(80) * 1%;
  width: $width + px;
  height: $width + px;
}

@for $i from 1 through $pieceMaxAmount + 1 {
  $width: (math.random() * 2 + 1) * 40;
  .piece:nth-child(#{$i}) {
    @include randomPositionSize($width);
  }
}

@media (min-width: 768px) {
  /* iPad */
  @for $i from 1 through $pieceMaxAmount + 1 {
    $width: (math.random() * 2 + 1) * 40;
    .piece:nth-child(#{$i}) {
      display: block;
      @include randomPositionSize($width);
    }
  }
}
